html{
    background-color: rgb(22, 17, 17);
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    background-image: url("./img/maps.png");
    width: 531px;
    height: 469px;
    display: flex;
}
.login{
    margin-top: 20px;
}
.player{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
.player p{
    color: green;
}
.player img{
    width: 50px;
    height: 50px;
}
